@import "./componets/Navbar/Navbar.style.css";
@import "./componets/Footer/Footer.style.css";
@import "./componets/Home/Home.style.css";
@import "./componets/Blog/Blog.style.css";

:root {
  --primary-color: #3b1e54;
  --secondary-color: #9b7ebd;
  --third-color: #d4bee4;
  --fourt-color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", serif;
}

body,
html {
  display: flex;
  margin: 0;
  flex-direction: column;
  background-color: var(--third-color);
}
